
# Turso
TURSO_URL=
TURSO_TOKEN=

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# # Stripe
# STRIPE_SECRET_KEY=sk_test_...
# STRIPE_PUBLISHABLE_KEY=pk_test_...
# STRIPE_WEBHOOK_SECRET=whsec_... (después de deploy)
GOOGLE_GENERATIVE_AI_API_KEY=
# Resend
RESEND_API_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# AI Model Configuration
MODEL_NAME=gemini-2.5-flash-lite
